<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>数独游戏</title>
</head>
<body>
  <h4 class="title">数独游戏</h4>
  <div class="sudoku grid"></div>
  <div class="btn">
    <button class="check">检查</button>
    <button class="reset">重置</button>
    <button class="clear">清理</button>
    <button class="rebuild">重建</button>
  </div>
  <div class="pop grid hidden">
    <div class="row">
      <span>1</span><span>2</span><span>3</span>
    </div>
    <div class="row">
      <span>4</span><span>5</span><span>6</span>
    </div>
    <div class="row">
      <span>7</span><span>8</span><span>9</span>
    </div>
    <div class="row">
      <span class="mark-pink"></span><span class="empty"></span><span class="mark-green"></span>
    </div>
  </div>
  
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>