.nav {
  width: 300px;
  padding: 50px;
  font-size: 14px;
  float: left;
  border-right: 1px solid #eee;

  li {
    margin: 20px 0;
  }
}
.container {
  width: calc(100% - 300px);
  padding: 50px;
  float: left;
  font-size: 14px;  
}
