* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  font-size: 14px;
  font-family: 'Consolas','Microsoft Yahei';
  user-select: none;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  color: #333;
}
body >* {
  max-width: 450px;
}
.matrix {
  position: absolute;
  top: 50%;
  width: 90%;
  transform: translateY(-60%);
  margin: 2rem 5%;
}
.submit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  width: 50%;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  background-color: #20A0FF;
  color: #fff;
  font-size: 1.2rem;
}
.row:first-child {
  border-top: 1px solid #ccc;
}
.row {
  width: 100%;
  border-left: 1px solid #ccc;
}
.col {
  display: inline-block;
  width: 20%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: bottom;
  text-align: center;
}
.col.hasantique {
  
}
.col:not(:empty) {
  background-color: #ccc;
}
.col img {
  width: auto;
  height: 90%;
  vertical-align: middle;
  margin-top: 5%;
}