<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>yys</title>
  <link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_437128_4ycezisich1fko6r.css">
</head>
<body>
  <div class="header">
    <div class="h-con">
      <a class="h-logo" href="javascript:;"><img class="h-pic-logo" src="/images/logo_b5525b7.png"></a>
      <div class="h-promote">
        <img class="h-pic-promote" src="/images/h-banner.jpg">
        <a class="h-pic-big" href="javascript:;"><img src="/images/h-banner-big.jpg"></a>
      </div>
      <div class="h-carousel">
        <a href="javascript:;" class="h-car-i fadeUp"></a>
      </div>
      <ul class="h-nav">
        <li><a href="javascript:;">注册账号</a></li>
        <li><a href="javascript:;">安卓充值</a></li>
        <li class="h-nav-special">
          <a href="javascript:;">游戏全目录<i class="iconfont icon-xiala"></i></a>
          <div class="h-gamebox"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="top">
      <div class="t-left">
        <div class="t-left-logo">
          <a class="t-pic-gametext" href="javascript:;"><img src="/images/game_text.webp"></a>
          <a class="t-pic-gamelogo" href="javascript:;"><img src="/images/game_logo.webp"></a>
          <a class="t-pic-anniversary" href="javascript:;"><img src="/images/logo_9798786.png"></a>
        </div>
        <div class="t-left-button">
          <a class="t-btn-normal" href="javascript:;">首页</a>
          <a class="t-btn-normal" href="#plan">未来计划放送</a>
          <a class="t-btn-normal" href="#activity">周年庆</a>
          <a class="t-btn-apple" href="javascript:;"></a>
          <a class="t-btn-android" href="javascript:;"></a>
        </div>
        <div class="t-left-scan">
          <div class="t-scan-title">扫一扫，下载游戏</div>
          <div class="t-scan-code">
            <div class="t-scan-img"></div>
          </div>
        </div>
      </div>
      <div class="t-right">
        <a class="t-btn-official" href="javascript:;"></a>
        <a class="t-btn-video"><img src="/images/cg2_1c30479.gif"></a>
        <a class="t-btn-chapter1" href="javascript:;">前篇</a>
        <a class="t-btn-chapter2" href="javascript:;">后篇</a>
      </div>
    </div>
    <div class="plan" id="plan">
      <div class="p-title"></div>
      <div class="p-carousel">
        <section class="p-car-section p-car-section1 fade p-car-active">
          <div class="p-car-title"></div>
          <p class="p-car-text">
            从线上到线下，从亚太到欧美，
            <br>
            消弭国与国，你与我的边界。
            <br>
            <br>
            全球发行计划
            <br>
            《阴阳师》目前拥有覆盖日本、韩国、台湾、香港的全球发行网络，即将拓展到英国、泰国、越南。
            <br>
            <br>
            充实游戏内容
            <br>
            《阴阳师》将陆续推出更充实的游戏内容：新剧情新番、式神个性化系统、更多式神、数百种皮肤、全新小动物等。
            <br>
            <br>
            丰富线下玩法
            <br>
            《阴阳师》将继续开发更多线下玩法：全新阴阳寮结界突破、世界BOSS、全区集结大型活动、神秘线下玩法.......等你来探索！
          </p>
          <div class="p-car-pictures">
            <img class="p-pic-00 p-pic-model" src="/images/1_1_516f689.png">
            <img class="p-pic-01 p-pic-model" src="/images/1_2_26d2e62.png">
          </div>
        </section>
        <section class="p-car-section p-car-section2 fade">
          <div class="p-car-title"></div>
          <p class="p-car-text">
            《阴阳师》全球同人计划重磅公开！多项重磅企划正式启动！
            <br>
            一、游戏资源包开放获取 同人创作零门槛；
            <br>
            二、打造跨国同人企划 全球同人联盟启动；
            <br>
            三、你有故事我来画 全民同人创作新风潮。
            <br>
            敬献每一位同人作者与粉丝。
            <br>
            绮美世界，将由你我同创！
          </p>
          <div class="p-car-pictures">
            <img class="p-pic-10 p-pic-model" src="/images/2_74c1137.png">
          </div>
        </section>
        <section class="p-car-section p-car-section3 fade">
          <div class="p-car-title"></div>
          <p class="p-car-text">
            <br><br><br>深挖和风百鬼文化。玩家耳熟能详的妖怪角色，将会逐步来到平安京与大家见面，敬请期待！
          </p>
          <div class="p-car-pictures">
            <img class="p-pic-10 p-pic-model" src="/images/3_684a233.jpg">
          </div>
        </section>
        <section class="p-car-section p-car-section4 fade">
          <div class="p-car-title"></div>
          <p class="p-car-text">
            《阴阳师》泡面番用幽默诙谐的叙事风格讲述了《阴阳师》中主角和式神们发生的羁绊趣闻。泡面番与《阴阳师》世界观保持统一,日式和风的美术风格以及魑魅魍魉的百鬼文化，将以三分钟短动画的形式精彩展现，带你领略别样趣味的平安京。泡面番是由网易出品并监修，上海震雷文化传播有限公司以及日本株式会社blade参与共同制作。
          </p>
          <div class="p-car-pictures clearfix">
            <div class="p-picbox p-picbox-1">
              <div class="p-picsubbox p-picsubbox-10 active" data-uid="0">
                <img class="p-pic-30 p-pic-model" src="/images/4_1_24a26b2.jpg">
                <a class="p-picsubbox-btn" href="javascript:;">点击看设定</a>
                <div class="p-picsubbox-text">阴阳师泡面番<i class="iconfont icon-you"></i></div>
              </div>
              <div class="p-picsubbox p-picsubbox-11" data-uid="1">
                <img class="p-pic-31 p-pic-model" src="/images/4_2_b5fdb6c.jpg">
                <div class="p-picsubbox-text">阴阳师音乐剧<i class="iconfont icon-you"></i></div>
              </div>
              <div class="p-picsubbox p-picsubbox-12" data-uid="2">
                <img class="p-pic-32 p-pic-model" src="/images/4_3_7fe3ea1.jpg">
                <div class="p-picsubbox-text">阴阳师动画<i class="iconfont icon-you"></i></div>
              </div>
            </div>
            <div class="p-picbox p-picbox-2">
              <div class="p-picsubbox p-picsubbox-20" data-uid="3">
                <img class="p-pic-33 p-pic-model" src="/images/4_4_a6ce710.jpg">
                <a class="p-picsubbox-btn" href="javascript:;">点击看漫画</a>
                <div class="p-picsubbox-text">阴阳师漫画<i class="iconfont icon-you"></i></div>
              </div>
              <div class="p-picsubbox p-picsubbox-21" data-uid="4">
                <img class="p-pic-34 p-pic-model" src="/images/4_5_4b0081b.jpg">
                <div class="p-picsubbox-text">更多<i class="iconfont icon-you"></i></div>
              </div>
            </div>
          </div>
        </section>
        <a class="p-car-prev" href="javascript:;"></a>
        <a class="p-car-next" href="javascript:;"></a>
      </div>
      <div class="p-car-navbox">
        <ul class="p-car-nav">
          <li class="active"><a href="javascript:;">全球互通<br>玩法升级</a></li>
          <li><a href="javascript:;">IP开放<br>你我共创</a></li>
          <li><a href="javascript:;">神秘联动X<br>即将来袭</a></li>
          <li><a href="javascript:;">IP生态<br>惊喜不停</a></li>
        </ul>
      </div>
    </div>
    <div class="activity" id="activity">
      <div class="a-title"></div>
      <div class="a-banner">
        <ul class="a-banner-ul">
          <li class="a-banner-1"></li>
          <li class="a-banner-2"></li>
          <li class="a-banner-3"></li>
          <li class="a-banner-4"></li>
        </ul>
      </div>
    </div>
    <ul class="share">
      <li>分享到：</li>
      <li><a href="javascript:;" title="分享到微信二维码"><i class="iconfont icon-weixin"></i>微信</a></li>
      <li><a href="javascript:;" title="分享到易信"><i class="iconfont icon-yixin"></i>易信</a></li>
      <li><a href="javascript:;" title="分享到新浪微博"><i class="iconfont icon-weibo"></i>新浪微博</a></li>
      <li><a href="javascript:;" title="分享到QQ空间"><i class="iconfont icon-qqkongjian"></i>QQ空间</a></li>
      <li class="s-more">
        <a href="javascript:;"><i class="iconfont icon-add"></i>更多</a>
        <ul class="s-navshare">
          <li class="qq"><a href="javascript:;" title="分享到QQ好友">QQ好友</a></li>
        </ul>
      </li>
    </ul>
    <div class="footer">
      <div class="f-main">
        <div class="f-main-logo">
          <a href="javascript:;"><img src="/images/netease.1.png"></a>
          <a href="javascript:;"><img src="/images/nie.1.png"></a>
        </div>
        <div class="f-main-other">
          <div class="f-other-list">
            <a href="javascript:;">公司简介</a>
            <span> - </span>
            <a href="javascript:;">客户服务</a>
            <span>-</span>
            <a href="javascript:;">相关法律</a>
            <span>-</span>
            <a href="javascript:;">网易游戏</a>
            <span>-</span>
            <a href="javascript:;">联系我们</a>
            <span>-</span>
            <a href="javascript:;">商务合作</a>
            <span>-</span>
            <a href="javascript:;">加入我们</a>
            <span>-</span>
            <a href="javascript:;">用户协议</a>
          </div>
          <div>
            <span>网易公司版权所有 ©1997-2017</span>
            <a href="javascript:;" class="f-other-btn">点击查看家长监护工程 <i class="iconfont icon-you1"></i></a>
          </div>
        </div>
      </div>
      <div class="f-text">
        <p>本游戏适合16岁以上的玩家进入。</p>
        <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。</p>
        <p><a href="http://game.163.com/news/2010/6/9/442_216957.html" target="_blank">《网络游戏管理暂行办法》</a> 文网游备字【2016】M-RPG4708号 《网络文化经营许可证》 浙网文[2016]0155-055号 批准文号：新广出审【2017】6710号 出版物号：ISBN 978-7-7979-9973-1</p>
      </div>
    </div>
  </div>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/jquery.mousewheel.js"></script>
  <script src="/js/perfect-scrollbar.js"></script>
  <script src="/js/data.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>